# ------------------------------------------------------------------------------
# .gitignore
# ------------------------------------------------------------------------------

# Thme content that is generated so don't need to track it.
/theme/assets/css/
/theme/assets/img/

# Packages that we've installed from the npm repository.
/node_modules

# npm cache directory
.npm
