<!-- wp:template-part {"slug":"header","tagName":"header","area":"header"} /-->

    <!-- wp:group {"layout":{"type":"constrained"}} -->
    <div class="wp-block-group">

        <!-- wp:spacer {"height":"80px"} -->
        <div style="height:80px" aria-hidden="true" class="wp-block-spacer"></div>
        <!-- /wp:spacer -->

        <!-- wp:paragraph -->
        <p>The page you are looking for could not be found. We suggest that you go to our <a href="http://varilink/" data-type="page" data-id="156">home page</a> and navigate from there.</p>
        <!-- /wp:paragraph -->

        <!-- wp:spacer {"height":"5em"} -->
        <div style="height:5em" aria-hidden="true" class="wp-block-spacer"></div>
        <!-- /wp:spacer -->

    </div>
    <!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","area":"footer"} /-->
